altair

beautifulsoup4

black

bottleneck

flake8

flask

flask-cors

huggingface-hub

jinja2

langchain

langchain-anthropic

langchain-core

langchain-google-genai

langchain-mistralai

langchain-openai

langgraph

memory-profiler

numexpr

numpy

openai

openpyxl

pandas

plotly

psycopg2-binary

psutil

pydantic

pytest

python-dotenv

requests

scikit-learn

scipy

sqlalchemy

streamlit

tavily-python

uuid

yfinance